body{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font: 14px/1.5em Helvetica, sans-serif;
}


header{
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

footer{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}