header {
    display: flex;
    width: 1000px;
    background-color: blue;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
}

.login {
    display: flex;
}