body {
    background: rgb(210, 210, 212);
}

table {
    width: 90vw;
}

th, td {
    text-align: left;
    width: 30%;
    padding: 2px;
}

table {
    background-color: grey;
    margin-left: 5%;
    margin-right: 5%;
}

th {
    background-color: rgb(32, 31, 31);
    color: whitesmoke;
}

tr:nth-child(odd) {
    background: rgb(210, 210, 212);
    color: rgb(32, 31, 31);;
}

tr:nth-child(even) {
    background: whitesmoke;
    color: rgb(32, 31, 31);
}
